<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false">
    <ul class="mb-4">
      <% resource.errors.full_messages.each do |message| %>
        <li class="block text-red-600 font-bold text-base mb-2 bg-red-50 rounded px-3 py-2 border border-red-200"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
